<footer class="bg-success text-white">
    <div class="d-inline-flex p-3 align-items-center justify-content-start">2023 Derechos reservados</div>
    <div class="d-inline-flex p-3 align-items-center justify-content-end">Mar del Plata</div>
</footer>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous'></script>
</body>
</html>